<h3><i class="fa fa-comments"></i> Contacto</i></h3>
<div class="well">
  <h6>
    <i class="fa fa-info-circle"></i> Recuerda que el staff de Mu {{pageName}} solo contestará ante inconvenientes que tengas sobre el juego, la página, inconvenientes de pago o sugerencias, cualquier otro tema tratado al contactar será ignorado.</h6>
</div>
<center>
  <div class="fb-page center-block" data-href="https://www.facebook.com/{{facebookPage}}/" data-tabs="messages" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
    <blockquote cite="https://www.facebook.com/{{facebookPage}}/" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/{{facebookPage}}/">Mu Wazaa</a>
    </blockquote>
  </div>
