<h4><i class="fa fa-desktop" aria-hidden="true"></i> Requisitos Mínimos</h4>
<table class="table table-bordered module-table" align="center">
  <tr>
    <td align="center">Componente</td>
    <td align="center">Requerido</td>
  </tr>
  <tr>
    <td>Sistema operativo</td>
    <td>Windows XP</td>
  </tr>
  <tr>
    <td>Microprocesador</td>
    <td>Pentium IV - 2.0 Ghz</td>
  </tr>
  <tr>
    <td>Memoria del sistema</td>
    <td>1 GB</td>
  </tr>
  <tr>
    <td>Tarjeta gráfica</td>
    <td>Con soporte gráfico 3D</td>
  </tr>
  <tr>
    <td>Espacio en disco</td>
    <td>2 GB</td>
  </tr>
  <tr>
    <td>Versión de DirectX</td>
    <td>DirectX 9.0c</td>
  </tr>
</table>
<h4><i class="fa fa-download" aria-hidden="true"></i> Descargas</h4>
<h5>Cliente completo</h5>
<center>
  <a class="btn btn-danger raised" href="https://mega.nz/#!jQgWFAzJ!mPc2bMu4MDxec_saCnuPh1vxmeTA9PcRfDSNO-Zleac" target="_blank">
    <i class="fa fa-download" aria-hidden="true"></i> MEGA.NZ</a>
  <a class="btn btn-primary raised" href="http://www.mediafire.com/file/29zfwsu65412t1i/MUEURUS.FULL.rar" target="_blank">
    <i class="fa fa-download" aria-hidden="true"></i> MEDIAFIRE</a>
  <a class="btn btn-success raised" href="https://drive.google.com/open?id=0B3pDVjlzGPpyOGUyR0Joa1lURmc" target="_blank">
    <i class="fa fa-download" aria-hidden="true"></i> GOOGLE DRIVE</a>
</center>
<h5>Cliente sin sonido</h5>
<center>
  <a class="btn btn-danger raised" href="https://mega.nz/#!PMABwIKb!yBDU4Yk0T0wW1qcXj78U8uLdJ1mHV88KUcwDh65u60o" target="_blank">
    <i class="fa fa-download" aria-hidden="true"></i> MEGA.NZ</a>
  <a class="btn btn-primary raised" href="http://www.mediafire.com/file/gmw4r23qu787377/MUEURUS.NO.SOUND.rar" target="_blank">
    <i class="fa fa-download" aria-hidden="true"></i> MEDIAFIRE</a>
  <a class="btn btn-success raised" href="https://drive.google.com/open?id=0B3pDVjlzGPpyLTJaTUJsZXNNbU0" target="_blank">
    <i class="fa fa-download" aria-hidden="true"></i> GOOGLE DRIVE</a>
</center>
<br>
<h4><i class="fa fa-cog" aria-hidden="true"></i> Drivers</h4>
<center>
  <a href="http://support.amd.com/es-xl/download" target="_blank"><img class="brand-image" src="/img/brand_amd.png" /></a>
  <a href="http://www.nvidia.es/Download/index.aspx?lang=es" target="_blank"><img class="brand-image" src="/img/brand_nvidia.png" /></a>
  <a href="https://downloadcenter.intel.com/es/" target="_blank"><img class="brand-image" src="/img/brand_intel.png" /></a>
  <a href="https://www.microsoft.com/es-ES/download/details.aspx?id=35" target="_blank"><img class="brand-image" src="/img/brand_directx.png" /></a>
  <a href="https://www.microsoft.com/es-ar/download/details.aspx?id=17718"><img class="brand-image" src="/img/brand_framework.png"></a>
</center>
