<h3><i class="fa fa-clock-o"></i> HORARIOS Y EVENTOS</h3>
<table class="table table-bordered module-table" cellspacing="1" cellpadding="2" align="center">
  <tr>
    <td width="19%" align="center">Evento</td>
    <td width="31%" align="center">Días</td>
    <td width="50%" align="center">Horarios</td>
  </tr>
  <tr>
    <td align="center"><b>Blood Castle</b></td>
    <td align="center">Todos los días</td>
    <td align="center">
      <p>00:00 - 02:00 - 04:00 - 06:00 - 08:00 - 10:00</p>
      <p>12:00 - 14:00 - 16:00 - 18:00 - 20:00 - 22:00</p>
    </td>
  </tr>
  <tr>
    <td align="center"><b>Devil Square</b></td>
    <td align="center">Todos los días</td>
    <td align="center">00:30 - 04:30 - 08:30 - 12:30 - 16:30 - 20:30</td>
  </tr>
  <tr>
    <td align="center"><b>Chaos Castle</b></td>
    <td align="center">Todos los días</td>
    <td align="center">01:00 - 04:00 - 07:00 - 10:00 - 13:00 - 16:00 - 19:00 - 22:00</td>
  </tr>
  <tr>
    <td align="center"><b>Moss Merchant</b></td>
    <td align="center">Todos los días</td>
    <td align="center">01:30 - 13:30</td>
  </tr>
  <tr>
    <td align="center"><b>Castle Deep</b></td>
    <td align="center">Todos los días</td>
    <td align="center">00:00 - 08:00 - 16:00</td>
  </tr>
  <tr>
    <td align="center"><b>Double Goer</b></td>
    <td align="center">Todos los días</td>
    <td align="center">1 hora de cooldown</td>
  </tr>
  <tr>
    <td align="center"><b>Imperial Guardian</b></td>
    <td align="center">Lunes a Sábados - Domingo BOSS</td>
    <td align="center">1 hora de cooldown</td>
  </tr>
  <tr>
    <td align="center"><b>Skeleton King</b></td>
    <td align="center">Todos los días</td>
    <td align="center">00:05 - 04:05 - 08:05 - 12:05 - 16:05 - 20:05</td>
  </tr>
  <tr>
    <td align="center"><b>Red Dragon</b></td>
    <td align="center">Todos los días</td>
    <td align="center">02:15 - 06:15 - 10:15 - 14:15 - 18:15 - 22:15</td>
  </tr>
  <tr>
    <td align="center"><b>White Wizard</b></td>
    <td align="center">Todos los días</td>
    <td align="center">00:45 - 04:45 - 08:45 - 12:45 - 16:45 - 20:45</td>
  </tr>
  <tr>
    <td align="center"><b>Golden</b></td>
    <td align="center">Todos los días</td>
    <td align="center">06:30 - 12:30 - 18:30 - 00:30</td>
  </tr>
  <tr>
    <td align="center"><b>Kundun</b></td>
    <td align="center">Todos los días</td>
    <td align="center">12 horas de cooldown</td>
  </tr>
  <tr>
    <td align="center"><b>Kanturu</b></td>
    <td align="center">Todos los días</td>
    <td align="center">24 horas de cooldown</td>
  </tr>
  <tr>
    <td align="center"><b>Raklion</b></td>
    <td align="center">Todos los días</td>
    <td align="center">12 horas de cooldown</td>
  </tr>
  <tr>
    <td align="center"><b>Medusa</b></td>
    <td align="center">Todos los días</td>
    <td align="center">12:00 - 00:00</td>
  </tr>
  <tr>
    <td align="center"><b>Crywolf</b></td>
    <td align="center">Miércoles y Sábados</td>
    <td align="center">20:30</td>
  </tr>
  <tr>
    <td align="center"><b>Castle Siege</b></td>
    <td align="center">Sábados</td>
    <td align="center">20:00</td>
  </tr>
  <tr>
    <td align="center"><b>Happy Hour</b></td>
    <td align="center">Todos los días</td>
    <td align="center">19:00 a 21:00</td>
  </tr>
  <tr>
    <td align="center"><b>Drop Event</b></td>
    <td align="center">Todos los días</td>
    <td align="center">00:00 - 06:00 - 12:00 - 18:00</td>
  </tr>
  <tr>
    <td align="center"><b>PvP Event</b></td>
    <td align="center">Martes, Jueves y Sábados</td>
    <td align="center">20:00 - 20:15 - 20:30 - 20:45 - 21:00</td>
  </tr>
</table>
