<div class="well clearfix">
<h3>PREGUNTAS FRECUENTES</h3>

<div class="list-group menu">
<p class="list-group-item text-center"><b>INDICE</b></p>
<a class="list-group-item" href="#error1">1. ERROR LAUNCHER NO ABRE</a> <a class="list-group-item" href="#error2">2. ERROR CLIENTE NO ABRE</a> <a class="list-group-item" href="#error3">3. ERROR DATA/T467.BMD</a> <a class="list-group-item" href="#lucky-coins">3. LUCKY COINS</a> <a class="list-group-item" href="#arena">4. ARENA</a> <a class="list-group-item" href="#vip-gratis">5. VIP GRATIS</a> <a class="list-group-item" href="#pvp-event">6. PVP EVENT</a> <a class="list-group-item" href="#drop-event">7. DROP EVENT</a> <a class="list-group-item" href="#webshop">8. WEBSHOP </a><a class="list-group-item" href="#golden">9. GOLDEN INVASION</a></div>
</div>

<div class="well clearfix well-vip" id="error1">
<h3>EL LAUNCHER NO ABRE</h3>

<p style="text-align: center;">&nbsp;</p>

<h5>Si nos aparece el siguiente mensaje al abrir el launcher:</h5>
<img alt="" class="center-block" src="/img/guide/error-1/1.jpg" />
<h6>Debemos descargar el .NET FRAMEWORK 4.5, desde el siguiente bot&oacute;n <a class="btn btn-danger raised" href="https://mega.nz/#!6B40XbrQ!B2TlFk7cmiVRYQ7rDdhhFFervSrs3ng_Bo0rVQnA5bs" target="_blank"> MEGA.NZ</a></h6>

<h6>Por &uacute;ltimo, abrimos el archivo y procedemos a instalar el framework, una vez instalado ya podremos abrir el launcher.</h6>
</div>

<div class="well clearfix well-vip" id="error2">
<h3>EL CLIENTE NO ABRE</h3>

<p style="text-align: center;">&nbsp;</p>

<h5>Las causas por las que el main no abre suelen ser 2:</h5>

<h6>1- Su aplicaci&oacute;n antivirus est&aacute; tomando el cliente como un virus, por lo tanto para poder solucionar esto y evitar problemas a futuro, lo recomendable es agregar el archivo &quot;Main.exe&quot; como excepci&oacute;n. Como existen muchisimos antivirus diversos no podemos explicar el paso-a-paso de cada uno, lo recomendable es buscar una gu&iacute;a de como hacerlo en Google() o en su defecto en Youtube().</h6>

<h6>2- El sistema de prevenci&oacute;n de ejecuci&oacute;n de datos (DEP) est&aacute; bloqueando el cliente y no deja que se ejecute, para arreglar esto se debe a&ntilde;adir una regla para que el cliente sea exceptuado y efectuar su correcto funcionamiento, para eso se deben seguir los siguientes pasos:</h6>

<p>&nbsp;</p>

<h6>Primero vamos a Inicio y luego ejecutar &oacute; apretamos <kbd><kbd>Windows</kbd> + <kbd>R</kbd></kbd> para abrir el men&uacute; de ejecutar y despu&eacute;s tipeamos &quot;systempropertiesadvanced&quot;, por &uacute;ltimo hacemos click en aceptar.</h6>

<h6>Nos vamos a encontrar con la siguiente ventana, hacemos click en &quot;Rendimiento&quot; y en la nueva ventana que nos aparece, vamos a la solapa &quot;Prevenci&oacute;n de ejecuci&oacute;n de datos&quot;, luego seleccionamos la opci&oacute;n &quot;Activar DEP para todos los programas y servicios excepto los que seleccione:&quot;.</h6>

<h6>Por &uacute;ltimo, hacemos click en &quot;Agregar...&quot; y nos va a aparecer una ventana para elegir archivos, nos dirigimos hacia la carpeta del cliente y seleccionamos el archivo &quot;Main.exe&quot; y hacemos click en abrir, hacemos click en aplicar y reiniciamos la pc, luego el cliente abrira normalmente</h6>
</div>

<div class="well clearfix well-vip" id="error3">
<h3>ERROR DATA/T467.BMD</h3>

<p style="text-align: center;">&nbsp;</p>

<h5>Este error se soluciona bastante f&aacute;cil:</h5>

<h6>Debemos abrir el launcher, hacer click en el &iacute;cono de opciones representado por una tuerca o cog, y luego en el men&uacute; de opciones hacer click en &quot;Reparar&quot;, una vez hecho eso ya podemos abrir el cliente y funcionara sin inconvenientes</h6>
</div>

<div class="well clearfix well-vip" id="lucky-coins">
<h3>LUCKY COINS</h3>

<p style="text-align: center;">&nbsp;</p>

<h5>El evento consiste en recolectar los denominados &quot;Lucky Coins&quot; que caer&aacute;n sobre todo el continente de Mu.</h5>

<h5>Etapa 1: Registraci&oacute;n:</h5>

<h6>Se dirijen al NPC llamado Delgado que se encuentra en Lorencia (130, 126) y le hablan.</h6>
<img alt="" class="center-block" src="https://puu.sh/rafXA/08aace1056.jpg" />
<h6>Luego presionan el bot&oacute;n &quot;Lucky Coin Registration&quot;</h6>
<img alt="" class="center-block" src="https://puu.sh/ragfp/8df6168808.jpg" />
<h6>y por &uacute;ltimo &quot;Register&quot;</h6>
<img alt="" class="center-block" src="https://puu.sh/ragi6/4876c75dd9.jpg" />
<h5>Etapa 2: Intercambio</h5>

<h6>Luego de haber registrado suficientes Lucky Coins, pueden intercambiarlos por items en el mismo NPC</h6>

<h6>Presionan el bot&oacute;n &quot;Lucky Coin Exchange&quot;</h6>
<img alt="" class="center-block" src="https://puu.sh/ragwH/10c2f7bca9.jpg" />
<h6>Luego eligen una opci&oacute;n de cambio y se descontar&aacute;n tus Lucky Coins y adquirir&aacute;s un item nuevo en tu inventario</h6>
<img alt="" src="https://puu.sh/ragQ3/be24008e6b.jpg" />
<h6>En la lista de items posibles que te toquen intercambiando por 10 Lucky Coins se encuentran:</h6>

<h6><kbd>Parte del Set Dragon +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Legendary +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Guardian +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Light Plate +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Atlans +7 a +9 + Luck + Opt</kbd></h6>

<h6>En la lista de items posibles que te toquen intercambiando por 20 Lucky Coins se encuentran:</h6>

<h6><kbd>Parte del Set Ascrow +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Eclipse +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Iris +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Dark Steel +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Valiant +7 a +9 + Luck + Opt</kbd></h6>

<h6>En la lista de items posibles que te toquen intercambiando por 30 Lucky Coins se encuentran:</h6>

<h6><kbd>Parte del Set Black Dragon +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Grand Soul +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Divine +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Adamantine +7 a +9 + Luck + Opt</kbd></h6>

<h6><kbd>Parte del Set Thunder +7 a +9 + Luck + Opt</kbd></h6>
</div>

<div class="well clearfix well-vip" id="arena">
<h3>ARENA</h3>

<p style="text-align: center;">&nbsp;</p>

<h5>Tipo de mapa: NO PVP (No es posible matar a otro jugador)</h5>

<h5>Spots: 5-8 mobs</h5>

<h5>Experiencia: 75%</h5>

<h5>&iquest;Cu&aacute;l es el sentido de esto?</h5>

<h5>Si bien no es el mejor mapa para levelear claro est&aacute;, es muy &uacute;til para esas ocasiones en las que queremos dejar a nuestro personaje leveleando durante muchas horas sin estar pendientes (cuando nos vamos a dormir/trabajar por ejemplo).</h5>
</div>

<div class="well clearfix well-vip" id="vip-gratis">
<h3>VIP GRATIS</h3>

<p style="text-align: center;">&nbsp;</p>

<h6>Duraci&oacute;n: 7 d&iacute;as</h6>

<h6>Paso 1</h6>
<img alt="" class="center-block" src="https://puu.sh/sSUIN/f1eafe5b48.png" />
<h6>Paso 2</h6>
<img alt="" class="center-block" src="https://puu.sh/sSUSb/934fc19056.png" />
<h6>Paso 3</h6>
<img alt="" class="center-block" src="https://puu.sh/sSUTL/ae592b1467.png" /></div>

<div class="well clearfix well-vip" id="pvp-event">
<h3>PVP Event</h3>

<p style="text-align: center;">&nbsp;</p>

<h6>El evento es de tipo &#39;DeathMatch&#39;. Consiste en enviar a todos los participantes a un mapa en espec&iacute;fico y hacerlos combatir los unos a los otros. El jugador que consiga eliminar a sus adversarios la mayor cantidad de veces ser&aacute; el ganador.</h6>

<h6>Duraci&oacute;n: 5 minutos</h6>

<h6>Ingreso: a trav&eacute;s de la ventana de Warps</h6>
<img alt="" class="center-block" src="https://puu.sh/rKhd2/a168f4259a.jpg" />
<h6 class="red">Aclaraci&oacute;n: No se les permitir&aacute; la entrada siendo miembros de una party ni buffeados.</h6>

<h6>Horarios:</h6>

<h6><kbd>PVP Event 0-10 Resets: Martes, Jueves y S&aacute;bados a las 22:00hs</kbd></h6>

<h6><kbd>PVP Event 11-20 Resets: Martes, Jueves y S&aacute;bados a las 22:15hs</kbd></h6>

<h6><kbd>PVP Event 21-30 Resets: Martes, Jueves y S&aacute;bados a las 22:30hs</kbd></h6>

<h6><kbd>PVP Event 31-40 Resets: Martes, Jueves y S&aacute;bados a las 22:45hs</kbd></h6>

<h6><kbd>PVP Event 41-50 Resets: Martes, Jueves y S&aacute;bados a las 23:00hs</kbd></h6>

<h6>Recompensa: 1000 MUCoins</h6>

<h6>Nota: El evento los mover&aacute; a lorencia una vez finalizado el mismo en un lapso de 60 segundos</h6>
<img alt="" src="https://puu.sh/rKfzU/f24d91b5fe.jpg" /></div>

<div class="well clearfix well-vip" id="drop-event">
<h3>DROP EVENT</h3>

<p style="text-align: center;">&nbsp;</p>

<h5>Durante 180 segundos llover&aacute;n Gold Medals en la fuente de Lorencia.</h5>

<h5>Duraci&oacute;n: 3 minutos</h5>

<h5>Horarios: 00:00 &middot; 06:00 &middot; 12:00 &middot; 18:00.</h5>
</div>

<div class="well clearfix well-vip" id="webshop">
<h3>WEBSHOP</h3>

<p style="text-align: center;">&nbsp;</p>

<h5>El webshop del servidor cuenta con venta de items NORMALES (no exc, no acc).</h5>

<h5>A su vez, contamos con Starter Packs, los cuales poseen un descuento importante en el conjunto.</h5>
</div>

<div class="well clearfix well-vip" id="golden">
<h3>GOLDEN INVASION</h3>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><span style="font-size:18px;">A continuaci&oacute;n dejamos el detalle de los tipos, cantidad y drop de mobs de la invasi&oacute;n</span></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><span style="font-size:18px;"><strong><u>Golden Budge Dragon</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 1<br />
Drop: Box of Luck<br />
Ubicaci&oacute;n: Lorencia, Devias o&nbsp;Noria<br />
<br />
<strong><u>Golden Goblin</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+1<br />
Ubicaci&oacute;n: Lorencia o&nbsp;Noria<br />
<br />
<strong><u>Golden Soldier</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Luck<br />
Ubicaci&oacute;n: Devias</span></p>

<p style="text-align: center;"><br />
<span style="font-size:18px;"><strong><u>Golden Rabbit</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+1<br />
Ubicaci&oacute;n: Elbeland<br />
<br />
<strong><u>Golden Titan</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+2<br />
Ubicaci&oacute;n: Devias</span></p>

<p style="text-align: center;"><span style="font-size:18px;"><strong><u>Golden Vepar</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+2<br />
Ubicaci&oacute;n: Atlans</span></p>

<p style="text-align: center;"><span style="font-size:18px;"><strong><u>Golden Devil</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+2<br />
Ubicaci&oacute;n: Losttower</span></p>

<p style="text-align: center;"><span style="font-size:18px;"><strong><u>Golden Lizard King</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+3<br />
Ubicaci&oacute;n: Atlans</span></p>

<p style="text-align: center;"><span style="font-size:18px;"><strong><u>Golden Dragon</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+3<br />
Ubicaci&oacute;n: Lorencia, Noria o&nbsp;Devias<br />
<br />
<strong><u>Golden Iron Wheel</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+3<br />
Ubicaci&oacute;n: Tarkan<br />
<br />
<strong><u>Golden Stone Golem</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+4<br />
Ubicaci&oacute;n: Aida</span></p>

<p style="text-align: center;"><span style="font-size:18px;"><strong><u>Golden Tantalos</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 3<br />
Drop: Box of Kundun+4<br />
Ubicaci&oacute;n: Tarkan<br />
<br />
<strong><u>Golden Mega Crust</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 1<br />
Drop: 2 Box of Kundun+4<br />
Ubicaci&oacute;n: Icarus<br />
<br />
<strong><u>Golden Satyros</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 2<br />
Drop: Box of Kundun+5<br />
Ubicaci&oacute;n: Kanturu<br />
<br />
<strong><u>Golden Twin Tail</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad:&nbsp;3<br />
Drop: Box of Kundun+5<br />
Ubicaci&oacute;n: Kanturu Relics</span></p>

<p style="text-align: center;"><br />
<span style="font-size:18px;"><strong><u>Golden Iron Knight</u></strong></span></p>

<p style="text-align: center;"><span style="font-size:18px;">Cantidad: 1<br />
Drop: 3 Box of Kundun+5&nbsp;<br />
Ubicaci&oacute;n: Raklion</span></p>

<p style="text-align: center;">&nbsp;</p>

</div>
