<div id="ranking-types" class="btn-group btn-group-sm" role="group" aria-label "Types">
  <button class="btn btn-danger gradient active" data-type="player">Jugadores</button>
  <button class="btn btn-danger gradient" type="button" id="classdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Clase
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="classdropdown">
    <li><a href="" data-type="playerDW">Dark Wizard</a></li>
    <li><a href="" data-type="playerDK">Dark Knight</a></li>
    <li><a href="" data-type="playerFE">Fairy Elf</a></li>
    <li><a href="" data-type="playerMG">Magic Gladiator</a></li>
    <li><a href="" data-type="playerDL">Dark Lord</a></li>
    {{!-- <li><a href="" data-type="playerSU">Summoner</a></li> --}}
    {{!-- <li><a href="" data-type="playerRF">Rage Fighter</a></li> --}}
  </ul>
  <button class="btn btn-danger gradient" data-type="guild">Clanes</button>
  <button class="btn btn-danger gradient" data-type="blood">Blood Castle</button>
  <button class="btn btn-danger gradient" data-type="chaos">Chaos Castle</button>
  <button class="btn btn-danger gradient" data-type="devil">Devil Square</button>
  <button class="btn btn-danger gradient" data-type="duels">Duelos</button>
</div>
<hr>
<div id="pagination" class="btn-group btn-group-sm" role="group" aria-label="Pagination">
</div>
<hr>
<div id="loading-ranking" class="overlay" style="display: inherit">
  <center><i class="fa fa-refresh fa-spin" style="font-size: 100px;"></i></center>
</div>
<div id="ranking-table">
  <div id="ranking-table-body">
  
  </div>
</div>
