<h3><i class="fa fa-key"></i> Contraseña Reestablecida</h3>
<div class="well clearfix">
  <p>Se ha enviado un mail a tu dirección de correo electrónico con la nueva información de inicio de sesión</p>
</div>
