<h4>Reestablecer Contraseña</h4> Hola {{user}}, si recibiste este mensajes es porque pediste o alguien más pidió reestablecer la contraseña de tu cuenta. Si deseas reestablecer tu contraseña, haz click <a href="{{token}}">aquí</a>, si no has pedido el reestablecimiento simplemente ignora este mensaje.
<br>
<br> Si no puedes ver el link para reestablecer la contraseña, aquí lo tienes para copiar y pegar:
<br> {{token}}
