<div class="well clearfix">
  <h3>Error 404</h3>
  <h4>¡Oh Dios mío! ¿Pero qué paso aquí?</h4>
  <img class="img pull-right" src="https://media.giphy.com/media/1Ad8gQKEtcnQs/giphy.gif">
  <p>Posibles causas de este error:</p>
  <p>- URL inválida o incorrectamente escrita</p>
  <p>- La página explotó</p>
</div>
