<div class="well clearfix">
  <h3>Error 500</h3>
  <h4>¡Felicidades! ¡Rompiste Algo!</h4>
  <img class="img pull-right" src="https://cdn.charityware.co/images/static/404_caprio.gif">
  <p>Posibles causas de este error:</p>
  <p>- La sesión o las cookies expiraron</p>
  <p>- La página explotó</p>
</div>
