<span class="cd-top"><i class="fa fa-arrow-circle-o-up"></i></span>
<div class="col-md-12">
  <div class="text-center">
    <p><a href="/tos">Condiciones de Servicio</a></p>
    <p>© 2017 MU {{pageName}}. Todos los derechos reservados</p>
    <p>Made with <i class="fa fa-heart red"></i> by <a href="https://github.com/MaanuVazquez"><i class="fa fa-github"></i>Maanu</a></p>
  </div>
</div>
