<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-info"></i> SERVER
    <button type="button" class="panel-button pull-right" data-toggle="collapse" data-target="#status"><i class="fa fa-window-minimize"></i></button>
    <button id="refresh-game-status" type="button" class="panel-button pull-right"><i class="fa fa-refresh"></i></button>
  </div>
  <div id="status" class="panel-body collapse in">
    <div id="panel-status" class="panel-time">
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-user"></i> TOP 10 JUGADORES
    <button type="button" class="panel-button pull-right" data-toggle="collapse" data-target="#top-10-players"><i class="fa fa-window-minimize"></i></button>
    <button id="refresh-top10-players" type="button" class="panel-button pull-right"><i class="fa fa-refresh"></i></button>
  </div>
  <div id="top-10-players" class="panel-body collapse in">
    <table id="top-10-players-table" class="table">
      <tr>
        <td class="ranking-cell">#</td>
        <td class="ranking-cell">Nombre</td>
        <td class="ranking-cell">Level</td>
        <td class="ranking-cell">Resets</td>
      </tr>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-users"></i> TOP 5 CLANES
    <button type="button" class="panel-button pull-right" data-toggle="collapse" data-target="#top-5-guild"><i class="fa fa-window-minimize"></i></button>
    <button id="refresh-top5-guilds" type="button" class="panel-button pull-right"><i class="fa fa-refresh"></i></button>
  </div>
  <div id="top-5-guild" class="panel-body collapse in">
    <table id="top-5-guild-table" class="table table-condensed">
      <tr>
        <td class="ranking-cell">#</td>
        <td class="ranking-cell">Nombre</td>
        <td class="ranking-cell">Puntaje</td>
        <td class="ranking-cell">Logo</td>
      </tr>
    </table>
  </div>
</div>
