	<h4><i class="fa fa-plus-circle" aria-hidden="true"></i> BENEFICIOS VIP</h4>
<table id="beneficios" class="table table-bordered module-table" cellpadding="2" cellspacing="1" align="center">
  <tr>
    <td align="center"></td>
    <td align="center">Usuario Normal</td>
    <td align="center">Usuario VIP STANDARD</td>
    <td align="center">Usuario VIP PREMIUM</td>
  </tr>
  <tr>
    <td align="center"><b>Experiencia</b></td>
    <td align="center">50x</td>
    <td align="center">65x</td>
    <td align="center"><b>80x</b></td>
  </tr>
  <tr>
    <td align="center"><b>Experiencia Master</b></td>
    <td align="center">15x</td>
    <td align="center">15x</td>
    <td align="center"><b>25x</b></td>
  </tr>
  <tr>
    <td align="center"><b>Drop</b></td>
    <td align="center">40%</td>
    <td align="center">60%</td>
    <td align="center"><b>60%</b></td>
  </tr>
  <tr>
    <td align="center"><b>Zen Drop</b></td>
    <td align="center">100%</td>
    <td align="center">150%</td>
    <td align="center"><b>200%</b></td>
  </tr>
  <tr>
    <td align="center"><b>Slot reservado</b></td>
    <td align="center"><i class="fa fa-times red" aria-hidden="true"></i></td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
    <td align="center"><i class="fa fa-check green" aria-hidden="true"></i></td>
  </tr>
  <tr>
    <td align="center"><b>Nivel de Reset</b></td>
    <td align="center">400</td>
    <td align="center">400</td>
    <td align="center"><b>400</b></td>
  </tr>
  <tr>
    <td align="center"><b>Costo base de Reset</b></td>
    <td align="center">60,000,000</td>
    <td align="center">40,000,000</td>
    <td align="center"><b>30,000,000</b></td>
  </tr>
  <tr>
    <td align="center"><b>Costo de /post</b></td>
    <td align="center">50,000</td>
    <td align="center">50,000</td>
    <td align="center"><b>0</b></td>
  </tr>
  <tr>
    <td align="center"><b>Costo de /addpoint</b></td>
    <td align="center">500,000</td>
    <td align="center">250,000</td>
    <td align="center"><b>0</b></td>
  </tr>
  <tr>
    <td align="center"><b>Costo de /pkclear</b></td>
    <td align="center">30,000,000</td>
    <td align="center">25,000,000</td>
    <td align="center"><b>15,000,000</b></td>
  </tr>
  <tr>
    <td align="center"><b>Cantidad de baúles</b></td>
    <td align="center">2</td>
    <td align="center">5</td>
    <td align="center"><b>10</b></td>
  </tr>
  <tr>
    <td align="center"><b>Soporte Elf Soldier</b></td>
    <td align="center">Hasta lvl 200</td>
    <td align="center">Hasta lvl 250</td>
    <td align="center"><b>Hasta lvl 300</b></td>
  </tr>
  <tr>
    <td align="center"><b>Nivel requerido MG/DL</b></td>
    <td align="center">220/250</td>
    <td align="center">200/220</td>
    <td align="center"><b>180/200</b></td>
  </tr>
  <tr>
    <td align="center"><b>Máquina de Combinaciones (rates)</b></td>
    <td align="center">Normales</td>
    <td align="center">Altos</td>
    <td align="center"><b>EXTREMOS</b></td>
  </tr>
  <tr>
    <td align="center"><b>Zen en Baul</b></td>
    <td align="center">0</td>
    <td align="center">0</td>
    <td align="center"><b>100,000,000</b></td>
  </tr>
  <tr>
    <td align="center"><b>Listados en el Mercado</b></td>
    <td align="center">5</td>
    <td align="center">10</td>
    <td align="center"><b>15</b></td>
  </tr>
</table>
